[user]
	name = Kien Truong
{{- if (index . "email") }}
	email = {{ .email }}
{{ else }}
	email = duckientruong@gmail.com
{{ end -}}
[merge]
{{- if (index . "mergetool") }}
	tool = {{ .mergetool }}
{{ else }}
	tool = kdiff3
{{ end -}}
	conflictstyle = diff3
[diff]
{{- if (index . "mergetool") }}
	tool = {{ .mergetool }}
{{ else }}
	tool = kdiff3
{{ end -}}
[color]
	ui = true
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	fpush = push --force-with-lease
	mpull = pull --no-rebase
[pull]
	rebase = true
[init]
	defaultBranch = main
[help]
	autocorrect = 20
[mergetool]
	keepBackup = false
	prompt = false
[fetch]
	prune = true
