[user]
	name = {{ .name }}
	email = {{ .email }}
[merge]
	tool = {{ .mergetool }}
	conflictstyle = diff3
[diff]
	tool = {{ .mergetool }}
[color]
	ui = true
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	fpush = push --force-with-lease
	mpull = pull --no-rebase
	glog = log --graph --decorate --oneline
	last = log -1 HEAD --stat
[pull]
	rebase = true
[init]
	defaultBranch = main
[help]
	autocorrect = 20
[mergetool]
	keepBackup = false
	prompt = false
[difftool]
	prompt = false
[fetch]
	prune = true
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore
	pager = delta
[rebase]
    updateRefs = true
