
{{- if .strong_gpu }}
profile=high-quality
gpu-api=vulkan
{{- else }}
profile=fast
hwdec=auto-safe
{{- end }}
vo=gpu-next
interpolation=yes
video-sync=display-resample

#Audio output
ao=pulse
af=acompressor

#Save playback on quit
save-position-on-quit

#Language preference
alang=jpn,eng
slang=eng,vie
