# Write your default config options here!

#Default render
profile=gpu-hq
vo=gpu-next
gpu-api=vulkan
interpolation=yes
{{- if .strong_gpu }}
scale=ewa_lanczos
dscale=mitchell
cscale=ewa_lanczos
{{- end }}

#Audio output
ao=pulse
af=acompressor
