[tools]
# global tool versions go here
# you can set these with `mise use -g`
{{- $tools_file := joinPath .chezmoi.sourceDir "private_dot_config" "mise" (printf "%s_%s.part" "mise_tools" .chezmoi.hostname)}}
{{- if stat $tools_file }}
{{ include $tools_file | trim }}
{{- end }}

[settings]
legacy_version_file = false

[plugins]
# custom plugins go here
# you can set these with `mise plugin install <tool_name> <git_url>`
{{- $plugins_file := joinPath .chezmoi.sourceDir "private_dot_config" "mise" (printf "%s_%s.part" "mise_plugins" .chezmoi.hostname)}}
{{- if stat $plugins_file }}
{{ include $plugins_file | trim }}
{{- end }}
