#!/bin/bash

# Add trigger config trust when it change
# config.toml hash: {{ include (joinPath .chezmoi.homeDir ".config/mise/config.toml") | sha256sum }}

# Trust new mise config and install
mise trust {{ joinPath .chezmoi.homeDir ".config/mise/config.toml" }}
mise install
