# shellcheck shell=bash
# zprofile extensions
# This file will be loaded in ~/.zprezto/runcoms/zprofile

# for go tooling installation
export GOPATH="$HOME/.local/golang"
path=(
  $GOPATH/bin
  $path
)

# for using rtx tools in non-interactive shell
export RTX_DATA_DIR="$HOME/.local/apps/rtx"

# for using mise tools in non-interactive shell
export MISE_DATA_DIR="$HOME/.local/apps/mise"
path=(
  $MISE_DATA_DIR/shims
  $path
)

# for Cargo rust
path=(
  $HOME/.cargo/bin
  $path
)

# Custom functions search path, put this after all $path modification
fpath=(
  $HOME/.zprezto_ext/zfunc
  $HOME/.zprezto_ext/zfunc/*
  $fpath
)

# For detection of session type
export SESSION_TYPE="local"
if [ -n "$SSH_CLIENT" ] || [ -n "$SSH_TTY" ]; then
  export SESSION_TYPE="ssh"
# many other tests omitted
else
  case $(ps -o comm= -p "$PPID") in
    sshd|*/sshd) export SESSION_TYPE="ssh";;
  esac
fi

{{ if eq .chezmoi.osRelease.id "arch" -}}
{{ if not .wayland -}}
# Input env var
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
{{ end }}

# SSH env var
export SSH_ASKPASS="/usr/bin/ksshaskpass"
export SSH_ASKPASS_REQUIRE=prefer

# DIFFPROG for pacdiff
export DIFFPROG="/usr/bin/kdiff3"
{{ end }}

{{- if and (eq .chezmoi.osRelease.id "ubuntu") (lookPath "kvantummanager") -}}
export QT_STYLE_OVERRIDE=kvantum
{{ end }}
