# zprofile extensions
# This file will be loaded in ~/.zprezto/runcoms/zprofile

# Custom functions search path
fpath=(
  $HOME/.zfunc
  $HOME/.zfunc/*
  $fpath
)

if [ -z "${KUBECONFIG}" ]; then
  export KUBECONFIG="$HOME/.kube/config"
fi

# For detection of session type
export SESSION_TYPE="local"
if [ -n "$SSH_CLIENT" ] || [ -n "$SSH_TTY" ]; then
  export SESSION_TYPE="ssh"
# many other tests omitted
else
  case $(ps -o comm= -p "$PPID") in
    sshd|*/sshd) export SESSION_TYPE="ssh";;
  esac
fi

# for go tooling installation
export GOPATH="$HOME/.local/golang"
path=(
  $GOPATH/bin
  $path
)

{{ if eq .chezmoi.osRelease.id "arch" }}
# Input env var
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# SSH env var
export SSH_ASKPASS="/usr/bin/ksshaskpass"

# DIFFPROG for pacdiff
export DIFFPROG="/usr/bin/kdiff3"
{{ end }}
